*{
    font-family: "Alegreya Sans";
}

body{
    min-height: 100vh;
}

.bg{
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Login */
.box-login input{
    background: none;
}


/* detail event */
.bt1{
    width: 80%;
}

.desc {
    font-size: medium;
    text-align: justify;
}

.container #poster{
    align-items: center;
}

.disable {
    color: lightgrey;
}

.bg-logo{
    display: block;
    margin: 150px;
}

/* Navbar */
.navbar{
    position: sticky;
    top: 0;
    background-color: white;
}
.navbar-nav{
    font-size: 23;
    color: #181B32;
}

.nav-link{
    margin-right: 50px;
}

.navbar .nav-link:hover::after{
    content: '';
    display: block;
    border-bottom: #1565D8 3px solid;
    width: 60%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
}
.navbar .dropdown-menu{
    border-radius: 10px;
}

.dropdown-toggle::after{
    display: none !important;
}

.fa-chevron-down{
    font-size: smaller;
    margin-left: 10px;
}

.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 0;
}

/* Utility */
.tombol{
    border-radius: 50px;
    padding: 3px 30px;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    /* padding-inline: 30px; */
}

/* Footer */
footer{
    position: sticky;
    top: 100%;
    bottom: 0;
    width: 100%;
    margin-top: 80px;
}
footer a{
    text-decoration: none;
    font-size: 12pt;
}

footer #atas{
    background-color: #4C4C4C;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .mb-3 a{
    padding: 25px;
    color: white;
}

/* User Profile */
.container #top-content{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container .content img{
    margin-right: 18px;
}

.container .content h5{
    margin-top: 8%;
    font-weight: lighter;
}

.container .content h4{
    font-size: 30px;
    font-weight: bold;
}

.container .content h6{
    font-size: 18px;
    font-weight: medium;
}

.container .content a{
    margin-top: 15px;
    border-radius: 200px;
    padding: 6px 25px;
    border: #1565D8 solid;
    background-color: white;
    color: #181B32;
    font-weight: normal;
}

.container .content a:hover{
    background-color: #1565D8;
    color: white;
}

.nav-pills .nav-link{
    margin: 0 80px;
    color: #181B32;
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.nav-pills .nav-item .active{
    background-color: #fff;
    color: #181B32;
}

.nav-pills .nav-item .active:after{
    content: '';
    display: block;
    border-bottom: #1565D8 5px solid;
    width: 70%;
    background-color: #fff;
    margin: auto;
    padding-top: 5px;
    border-radius: 50px;
}

.container #bottom-content{
    margin-top: 35px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 180px;
}

.container #bottom-content h6{
    font-weight: bold;
    font-size: 15px;
    color: #1565D8;
    margin-bottom: 15px;
}

.container #bottom-content p{
    font-weight: normal;
    font-size: 18px;
    color: #181B32;
    margin-bottom: 35px;
}

.container #no-data{
    text-align: center;
    font-weight: medium;
}

/* Events  */
.container #titleEvents{
    color: #181B32;
    font-weight: bold;
    opacity: 80%;
}

.container #sortby{
    margin-right: 5%;
    margin-bottom: 50px;
 }

.container #sortby p{
    text-align: center;
    margin-left: 10%;
    margin-right: 10px;
    font-family: 'Inter';
    margin-top: 1.5px;
    font-size: 13.5px;
    color: #4C4C4C;
    opacity: 70%;
    font-weight: bold;
}

.container #sortby button{
    border-radius: 50px;
    padding: 0px 10%;
    border: #C4C4C4 2px solid;
    background-color: white;
    color: #8e99aa;
    font-size:13px;
    font-family: 'Inter';
    display: flex;
    width: 170%;
    align-items: center;
    justify-content: space-between;
}

.container #sortby .dropdown-menu{
    border-radius: 10px;
    text-decoration: none;
    top: 105%;
    left: 0;
    right: 0;
    position: absolute;
 }

.container #sortby a{
    text-decoration: none;
    padding-left: 10px;
    color:#8e99aa;
    font-size: 13.5px;
    font-family: 'Inter';
}

.container #sortby .dropdown-menu a:hover{
    margin-left: 5px;
    color: #4C4C4C;
    font-weight: bold;
}

.container #eventPreview .col-6{
    margin-bottom: 80px;
}

.container #eventPreview img{
    border-radius: 20px;
    margin-right: 25px;
}

.container #eventPreview h5{
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
    opacity: 90%;
}

.container #eventPreview p{
    margin-top: 10px;
    font-weight:bold;
    color: #181B32;
    opacity: 60%;
}

.container #eventPreview .btn{
    margin-top: 10px;
    border-radius: 50px;
    border: #C4C4C4 2px solid;
    font-family: 'Inter';
    color: #838d9c;
    font-size: 12px;
    margin-right: 10px;
    padding: 0 10px;
}
